.manager-login {
  width: 100vw;
}

.form-button-cont {
  /* width: 505px; */
}

.manager-login-input {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.login-input {
  border: 0;
  height: 50px;
  /* border-bottom: 2px solid #F4F4F4; */
  width: 489px;
  outline: none !important;
  margin-right: 16px;
  background: linear-gradient(0.25turn, #07608d, #63c0ba);
  margin-top: 20px;
  color: white;
  padding-left: 5px;
}

.validation-accountant {
  width: 489px;
}

.login-input::placeholder {
  color: rgb(161, 161, 161) !important;
  opacity: 1;
  /* Firefox */
}

.login-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.login-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.new-recommendation .cont {
  margin-top: 0px;
}

.new-recommendation label input {
  display: none;
}

.cont {
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #07608d;
}

/* Hide the browser's default checkbox */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: linear-gradient(0.25turn, #07608d, #63c0ba);
  /* background-color: #eee; */
  margin-right: 20px;
}

.label {
  margin-left: 30px;
  font-size: 14px;
  font-weight: regular;
}

/* On mouse-over, add a grey background color */
.checkbox {
  display: none;
}

.cont {
  position: relative;
  margin-right: 16px;
  width: 489px;
  display: flex;
}

.cont:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked~.checkmark {
  background-color: #07608d;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.manager-login-input input::placeholder {
  color: #07608d;
  font-size: 14px;
}

.login-input-valid {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.login-input-valid img {
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  top: 34px;
  right: 24px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.manager-img {
  background-image: url("../img/managerlogin.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 60%;
  /* border: 47px solid #07608d; */
}

.login-input-cont {
  width: 40%;
}

.manager-login .container {
  width: 100%;
}

.validation {
  visibility: hidden;
  color: red;
  font-size: 12px;
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  bottom: -19px;
  /* margin-left: 10px; */
}

.valid-center {
  margin: auto;
  visibility: hidden;
  display: flex;
  /* display: none; */
  justify-content: center;
  /* margin: 10px 0 0 0; */
  font-weight: bold;
}

.dropdown-item {
  text-align: center !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width:1280px) {

  .manager-login-input input,
  .cont,
  .validation-accountant {
    width: 370px;
  }
}

@media only screen and (max-width:1024px) {
  .manager-img {
    height: 528px;
    width: 100%;
    transform: scaleY(-1);
  }

  .login-input-cont {
    width: 100%;
    transform: scaleY(-1);
  }

  .manager-login {
    /* display: flex;
  flex-direction: column-reverse !important; */
    display: block;
    transform: scaleY(-1);
  }

  .manager-login-input {
    justify-content: center;
    align-items: center !important;
    height: fit-content !important;
  }

  .login-input-valid {
    align-items: center
  }

  .login-input,
  .cont {
    margin-right: 0;
  }

  .manager-login-input input {
    font-size: 14px;
  }
}

@media only screen and (max-width: 540px) {

  .manager-login-input input,
  .manager-login-input .cont,
  .validation-accountant,
  .validation-accountant {
    width: 343px;
    margin-top: 20px;
  }

  .manager-img {
    height: 325px !important;
  }
}

@media only screen and (max-width:425px) {

  .manager-login-input input,
  .cont,
  .validation-accountant {
    margin-right: 0;
    width: 95% !important;
  }

  .login-input {
    height: 45px;
  }

  .manager-login {
    align-items: center;
    width: 100vw;
  }

  .login-input-valid {
    align-items: center;
  }

  .manager-img {
    width: 100vw;
  }

  .login-input-cont {
    width: 100vw;
  }
}